 .nav{
    background: rgb(8, 8, 8);
    
    
} 
.fondo{
    height: 100vh;
    background-image: url("../img/empa.jpg");
  background-attachment: fixed;
  overflow: scroll;

}
.fondo::-webkit-scrollbar {
    display: none;
}

.box{
    border-radius: 2px;
}
.tarjetas{
    box-shadow: 5px 5px  10px;
    background: rgb(15,53,89);
    background: linear-gradient(90deg, rgba(235, 228, 228, 0.722) 100%, rgba(240,242,252,1) 100%, rgba(233,238,242,0.04275213503370101) 10%);
    

}
.tarjetas:hover{
    position: relative;
    bottom: 2px;
    right: 2px;
}
/* .ticket{
    height: 100vh;
} */