.alineacionVertical{
    vertical-align:middle;
}

@media(max-width: 768px){
    .margenTop{
       margin-top: 7px; 
    }
}
@media print{
    @page{
        margin: 0;
    }
    body{
        margin: 2cm;
    }
    .sidebar{
        visibility: hidden;
    }
    .ass{
        visibility: hidden;
    }
}