.app{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.sidebar{
    
    height: 100%;
    width: 18%;
    background-color: rgb(46, 53, 63);
}
.sidebar-inactivo{
    width: 6%;
    height: 100%;
    background-color: rgb(46, 53, 63);
}
.sidebarList{
    height: auto;
    width: 100%;
}
.sidebarList-row{
    width: 100%;
    height: 50px;
}
.sidebarList-row:hover{
    background-color: rgb(31, 36, 53);
    cursor: pointer;
    font-weight: 600;
}
.row-active{
    border-right: 5px solid rgb(230, 230, 230);
}
.img-user{
    width: 40px;
    height: 40px;
}
.btn-salir{
    cursor: pointer;
    height: 50px;
}
.btn-salir:hover{
    background-color: rgb(31, 36, 53);
}
.btn-menu{
    cursor: pointer;
}

.inactivo{
    visibility: hidden;
    position: absolute
}
.parte2{
    height: 100%;
    width: 82%;
    border: 2px solid blue;
    overflow: scroll;
}
.parte2-inactivo{
    width: 94%;
    height: 100%;
    overflow: scroll;
}


/** Media **/
@media (max-width: 992px) {
    .sidebar{
        height: 100%;
        width: 23%;
    }
    .parte2{
        width: 77%;
        height: 100%;
    }
    .sidebar-inactivo{
        width: 8%;
        height: 100%;
    }
    .parte2-inactivo{
        width: 92%;
        height: 100%;
    }
  }

  @media(max-width:710px){
    .sidebar{
        height: 100%;
        width: 25%;
    }
    .parte2{
        width: 75%;
        height: 100%;
    }
    .sidebar-inactivo{
        width: 10%;
        height: 100%;
    }
    .parte2-inactivo{
        width: 90%;
        height: 100%;
    }
  }
  @media(max-width: 650px){
    .sidebar{
        height: 100%;
        width: 40%;
        z-index: 1000;
        background-color:rgb(46, 53, 63); ;
    }
    .parte2{
        width: 100%;
        position:fixed;
    }
    .sidebar-inactivo{
        width: 10%;
        height: 100%;
    }
    .parte2-inactivo{
        width: 90%;
        height: 100%;
    }
  }

  @media(max-width: 500px){
    .sidebar{
        height: 100%;
        width: 60%;
        z-index: 1000;
        background-color:rgb(46, 53, 63); ;
    }
    .parte2{
        width: 100%;
        position:fixed;
    }
    .sidebar-inactivo{
        width: 13%;
        height: 100%;
    }
    .parte2-inactivo{
        width: 87%;
        height: 100%;
    }
  }